---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import aboutUs from "../images/je-us.png";
import headshotEmma from "../images/emma.jpg";
import headshotJulie from "../images/about-julie.jpg";
import collaborators from "../images/helia-siroko-mar25-2017.jpg";

const pageTitle = "About";
const description =
  "Learn more about Helia Music Collective and its co-founders, Emma Logan and Julie Barwick.";
---

<Layout title={pageTitle} description={description}>
  <div class="main-format">
    <section>
      <Image
        src={aboutUs}
        width={912}
        alt="Emma & Julie"
        class="responsive-image"
      />
      <div>
        <h4 class="subtitle">About Helia Music Collective</h4>
      </div>
      <p>
        Co-founded by musician/composers, Emma Logan and Julie Barwick, Helia
        Music Collective supports the creative endeavors of women in music
        throughout the San Francisco Bay Area. Helia Music seeks to enrich the
        community and expand the engagement of women artists through educational
        outreach and collaborations, with performances and workshops taking
        place in unique and diverse spaces. Through charitable activities and
        events, Helia supports the education and development of women in the Bay
        Area and beyond.
      </p>
    </section>
    <section>
      <h4 class="subtitle">Who We Are</h4>
      <div class="two-images">
        <div>
          <Image
            src={headshotEmma}
            width={441}
            alt="Headshot of Emma Logan"
            class="responsive-image"
          />
          <p class="subtitle">Emma Logan</p>
          <p>
            San Francisco-based composer <a
              class="link"
              href="https://www.emmalogan.com/"
              target="_blank">Emma Logan</a
            > (b. 1990) writes music that is emotionally compelling through lyricism,
            gesture, and storytelling. She most recently was awarded the San Francisco
            Artist Grant in 2023 by the SF Arts Commission. Her piece Three Sisters
            for three flutes was selected as a finalist in the 2017 ASCAP Foundation
            Morton Gould Young Composer Awards, and her piece Short Stories for solo
            guitar received an honorable mention in the 2016 MACRO Composers Competition.
            Emma’s passion for contemporary music drives her to continue collaborating
            with fellow composers and performers to bring new music to life.
            <br />
            <br />
            Emma is co-founder of the Helia Music Collective, an organization dedicated
            to promoting women in music. Since its inception in 2016, Helia has presented
            multiple projects with Bay Area ensembles and artists to commission and
            premiere over a dozen new works by women. Emma served as a curator for
            San Francisco’s <a
              class="link"
              href="https://centerfornewmusic.com/"
              target="_blank">Center for New Music</a
            > in 2017-2019 where she presented 20 programs. She has also served as
            a composer-in-residence for Fête Concerts and as an Artistic Director
            for Composers, Inc. In addition to her creative endeavors, Emma is passionate
            about arts administration. She is currently the Booking Supervisor for
            the War Memorial & Performing Arts Center in San Francisco.
            <br />
            <br />
            Upcoming projects include a new song cycle for <a
              class="link"
              href="https://www.kindrascharich.com/"
              target="_blank">Kindra Scharich</a
            > and the <a class="link" href="https://sfcmp.org/"
              >San Francisco Contemporary Music Players</a
            > to be premiered in November 2024, and releasing “Funny Dancers”, a
            new album with her band, <a
              class="link"
              href="https://lovecantsaveyoupadme.bandcamp.com/album/far-calls"
              target="_blank"
              >Love Can’t Save You, Padmè</a
            >. Past collaborations include commissions and performances by Jeff
            Anderle and the SFCM Clarinet Ensemble, Natalie Raney, Curium Trio,
            Liaison Ensemble, Robert Simonds, Miolina Duo, SopraDuo, Siroko Duo,
            Ensemble for These Times, Areon Flutes, and the Guerrilla Composers
            Guild.
            <br />
            <br />
            Emma’s work has been performed across the United States and internationally.
            She has participated in the League of American Orchestras’ Essentials
            in Orchestra Management Program, Oregon Bach Festival Composers Symposium
            with composer Robert Kyr, the Fresh Inc Music Festival with Fifth House
            Ensemble, and the Skaneateles Music Festival with composer Paul Moravec.
            Emma studied with David Garner at the San Francisco Conservatory of Music
            and with Andrew Waggoner, Daniel S. Godfrey, and Nicholas Scherzinger
            at Syracuse University.
          </p>
        </div>
        <div>
          <div>
            <Image
              src={headshotJulie}
              width={441}
              alt="Headshot of Julie Barwick"
              class="responsive-image"
            />
            <p class="subtitle">Julie Barwick</p>
          </div>
          <p>
            <a class="link" href="https://www.juliebarwick.com/" target="_blank"
              >Julie Barwick</a
            > (b. 1983) is a composer and pianist originally from Southern California
            and now based in San Francisco. Drawing inspiration from her classical
            and jazz background, she not only enjoys writing for traditional chamber
            music ensembles, but also non-traditional ensembles as well as experimental
            jazz groups.
            <br />
            <br />
            Julie was most recently Composer-in-Residence for Elevate Ensemble and
            was commissioned to write two pieces for their 2017-18 season.​ She was
            also a winner of the 2016 Areon International Composition Competition.
            Other recent commissions were from Hot Air Music Festival, San Francisco
            Guitar Quartet, <a
              class="link"
              href="https://sirokoduo.com/"
              target="_blank">Siroko Duo</a
            >, Carla Fabris, <a
              class="link"
              href="https://www.jillmorganbrenner.com/"
              target="_blank">Jill Morgan Brenner</a
            >, Andronica Trio, and Ignition Duo with the Guerrilla Composers
            Guild. Her music has been performed throughout the Bay Area and US,
            and has been selected for performances on festivals such as West
            Fork New Music Festival in West Virginia, and the <a
              class="link"
              href="https://www.verdantvibes.com/index.html"
              target="_blank">Verdant Vibes Concert Series</a
            > in Rhode Island.
            <br />
            <br />
            As co-founder of Helia Music Collective, she believes strongly in supporting
            women in music especially through collaborations with Bay Area ensembles
            and composers. Helia most recently had their second successful collaboration
            with Liaison Ensemble in October, and is currently in preparations for
            another collaboration (TBA) to take place in Fall 2019.
            <br />
            <br />
            Julie received her B.A. in music from the University of California, Berkeley
            and her M.M. in music composition from the San Francisco Conservatory
            of Music. She has studied with composers Belinda Reynolds, Dan Becker,
            David Garner, Cindy Cox, and Henry Threadgill.
          </p>
        </div>
      </div>
      <hr />
    </section>
    <section>
      <h4 class="subtitle">Collaborators</h4>
      <Image
        src={collaborators}
        width={639}
        alt="Helia Music Collective at Siroko Duo concert"
        class="responsive-image"
      />
      <p class="caption">
        Re:Ignite: Helia Music Collective & Siroko Duo concert in March 2017
        (photo by Meerenai Shim)
      </p>
      <p class="collaborators-subtitle">
        Here are some of the people and organizations we have worked with,
        musically and otherwise:
      </p>
      <h5 class="categories">Composers</h5>
      <ul>
        <li>
          <a class="link" href="https://www.chelsealoew.com/" target="_blank"
            >Chelsea Loew</a
          >
        </li>
        <li>
          <a class="link" href="https://janerigler.com/" target="_blank"
            >Jane Rigler</a
          >
        </li>
        <li>
          <a
            class="link"
            href="https://www.adjectivenewmusic.com/hudelson.html"
            target="_blank">Brandy Hudelson</a
          >
        </li>
        <li>
          <a class="link" href="https://chenlily.com/" target="_blank"
            >Lily Chen</a
          >
        </li>
        <li>
          <a class="link" href="https://www.emilykoh.net/" target="_blank"
            >Emily Koh</a
          >
        </li>
        <li>
          <a
            class="link"
            href="https://emilyshisko.wordpress.com/"
            target="_blank">Emily Shisko</a
          >
        </li>
        <li>
          <a
            class="link"
            href="https://heshemusic.com/pages/belinda-reynolds"
            target="_blank">Belinda Reynolds</a
          >
        </li>
        <li>
          <a class="link" href="https://elizabethabaker.com/" target="_blank"
            >The Honourable Elizabeth A. Baker</a
          >
        </li>
        <li>
          <a class="link" href="https://www.theresawong.org/" target="_blank"
            >Theresa Wong</a
          >
        </li>
        <li>
          <a class="link" href="https://saworkman.com/" target="_blank"
            >Shawne Anell Workman</a
          >
        </li>
      </ul>
      <h5 class="categories">Performers</h5>
      <ul>
        <li>
          <a class="link" href="https://www.jeffanderle.com/" target="_blank"
            >Jeff Anderle</a
          > | <a
            class="link"
            href="https://sfcm.edu/study/ensembles/clarinet-ensemble"
            target="_blank">SFCM Clarinet Ensemble</a
          >
        </li>
        <li>
          <a
            class="link"
            href="https://www.natalieraneycello.com/"
            target="_blank">Natalie Raney</a
          >
        </li>
        <li>
          <a class="link" href="https://sirokoduo.com/" target="_blank"
            >Siroko Duo</a
          >
        </li>
        <li>
          <a class="link" href="https://www.curiumtrio.com/" target="_blank"
            >Curium Trio</a
          >
        </li>
        <li>
          <a
            class="link"
            href="https://intermusicsf.org/affiliate/liaison-ensemble/"
            target="_blank">Liason Ensemble</a
          >
        </li>
        <li>
          <a class="link" href="https://roberthuntsimonds.com/" target="_blank"
            >Robert Hunt Simonds</a
          >
        </li>
        <li>
          <a class="link" href="https://ltingarts.com/" target="_blank"
            >Ting Luo</a
          >
        </li>
      </ul>
      <h5 class="categories">Venues</h5>
      <ul>
        <li>
          <a class="link" href="https://centerfornewmusic.com/" target="_blank"
            >Center For New Music</a
          >
        </li>
        <li>
          <a class="link" href="https://www.sevenperforms.org/" target="_blank"
            >Seventh Avenue Performances</a
          >
        </li>
        <li>
          <a
            class="link"
            href="https://www.oldfirstconcerts.org/"
            target="_blank">Old First Concerts</a
          >
        </li>
        <li>
          <a class="link" href="https://sfcm.edu/" target="_blank"
            >San Francisco Conservatory of Music</a
          >
        </li>
      </ul>
      <h5 class="categories">Photography by:</h5>
      <ul>
        <li>
          <a
            class="link"
            href="https://www.instagram.com/ericvogler/"
            target="_blank">Eric Vogler</a
          >
        </li>
      </ul>
      <h5 class="categories">Website developed by:</h5>
      <ul>
        <li>
          <a class="link" href="https://www.bretteastman.dev/" target="_blank"
            >Brett Eastman</a
          >
        </li>
      </ul>
    </section>
  </div>
</Layout>

<style>
  .main-format {
    display: flex;
    flex-direction: column;
    align-self: center;
    max-width: var(--maxWidth);
    margin-bottom: 2rem;
    margin: 0 2rem;
    padding-bottom: 1rem;
  }
  .two-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    padding-bottom: 2rem;
  }
  hr {
    border: 1px solid var(--navText);
  }

  @media screen and (max-width: 636px) {
    .two-images {
      grid-template-columns: 1fr;
    }
  }
</style>
