---
import Layout from "../layouts/Layout.astro";
import CardEvent from '../components/CardEvent.astro';
import events from '../data/events'
import { Image } from "astro:assets";
import imageData from "../images/je-rocks.jpg";
const pageTitle = "Events";
---
<Layout title={pageTitle}>
  <h2 class="media-section-titles">Past Events</h2>
  <div>
    {events.map((event) => (
      <div>
        <CardEvent
          eventTitle={event.title}
          concertDate={event.concertDate}
          venue={event.venue}
          venueAddress={event.venueAddress}
          city={event.city}
          eventDescription={event.description}
        />
      </div>
    ))}
  </div>
  <div class="image-events">
    <Image width={910} alt="Emma and Julie standing on rocks by the beach, looking off to the side towards the sun" src={imageData} />
  </div>
</Layout>

<style>
  h2 {
    font-family: 'Lato', sans-serif;
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 1rem;
  }
  .image-events {
    margin-bottom: 2rem;
  }
</style>