---
interface Props {
  eventTitle: string;
  concertDate: string;
  venue: string;
  venueAddress: string;
  city: string;
  artistPhoto?: string;
  photoCaption?: string;
}

const {
  eventTitle,
  concertDate,
  venue,
  venueAddress,
  city,
  artistPhoto,
  photoCaption,
} = Astro.props;
---

<div>
  <h3>
    {eventTitle}
  </h3>
  <p class="concert-date">{concertDate}</p>
  <div class="location">
    <p>{venue}</p>
    <p>{venueAddress}</p>
    <p>{city}</p>
  </div>
  {artistPhoto && <img src={artistPhoto} alt={photoCaption} />}
</div>

<style>
  h3 {
    font-family: "Lato", sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
  }
  .concert-date {
    font-family: "Montserrat Variable", sans-serif;
    font-size: 1rem;
    font-weight: 600;
  }
  .location {
    margin-bottom: 0.75rem;
  }

</style>
