---
import { YouTube } from "astro-lazy-youtube-embed";

interface Props {
  videoId: string;
  title: string;
  composer?: string;
}

const { videoId, title, composer } = Astro.props;
---

<div class="stack">
  <YouTube title={title} videoId={videoId} />
  {
    title && composer && (
      <p>
        <em>{title}</em> - {composer}
      </p>
    )
  }
  {
    title && !composer && (
      <p>
        <em>{title}</em>
      </p>
    )
  }
</div>

<style>
  .stack {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 0.5rem;
    margin: 1rem 0;
  }
</style>
