---
import Layout from "./Layout.astro";
const { frontmatter } = Astro.props;
---
<Layout title={frontmatter.title}>
  <h1>{frontmatter.title}</h1>
  <p>{frontmatter.concertDate}</p>
  <div>
    <p>{frontmatter.venue}</p>
    <p>{frontmatter.venueAddress}</p>
    <p>{frontmatter.city}</p>
    {frontmatter.tickets && <p>{frontmatter.tickets}</p>}
  </div>
  <br />
  <p class="description">{frontmatter.description}</p>
  <slot />
</Layout>

<style>
  .description {
    width: 500px;
  }
</style>